---
import { Image as AstroImage } from 'astro:assets'
import imageDark from '@/assets/images/context-menu-dark.jpg'
import imageLight from '@/assets/images/context-menu-light.jpg'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'Image', description: 'Astro Asset using Vercel Image Optimization' }}>
  <section>
    <hgroup>
      <h2>Image Optimization</h2>
      <p>Astro Asset using Vercel Image Optimization</p>
    </hgroup>
    <AstroImage
      src={imageLight}
      alt="Light Screenshot"
      width={imageLight.width}
      height={imageLight.height}
      format={'webp'}
      quality={80}
      class="light"
    />
    <AstroImage
      src={imageDark}
      alt="Dark Screenshot"
      width={imageLight.width}
      height={imageLight.height}
      format={'webp'}
      quality={80}
      class="dark"
    />
  </section>
</Layout>

<style>
  img {
    /* width: 100%; */
  }
  @media (prefers-color-scheme: light) {
    img.dark {
      display: none;
    }
  }
  @media (prefers-color-scheme: dark) {
    img.light {
      display: none;
    }
  }
</style>
