---
interface Props {
  header?: string
  footer?: string
  href?: string
  target?: '_self' | '_blank'
}

const { header, footer, href, target } = Astro.props
---

<article>
  {
    header && (
      <header class="text-xl font-black">
        <h3>
          {target === '_blank' ? (
            <a href={href} target="_blank">
              {header}
            </a>
          ) : (
            <a href={href}>{header}</a>
          )}
        </h3>
      </header>
    )
  }
  <slot />
  {footer && <footer>{footer}</footer>}
</article>
