---
import astroLogoDark from '@/assets/images/astro-logo-dark.svg'
import astroLogoLight from '@/assets/images/astro-logo-light.svg'
import vercelLogoDark from '@/assets/images/vercel-logo-dark.svg'
import vercelLogoLight from '@/assets/images/vercel-logo-light.svg'
import { Image } from 'astro:assets'
---

<header class="container">
  <nav>
    <ul>
      <li>
        <a href="/" title="Astro on Vercel">
          <h2>Astro on Vercel</h2>
          <Image
            src={astroLogoLight}
            width={astroLogoLight.width}
            height={astroLogoLight.height}
            loading={'eager'}
            alt="Astro light logo"
            class="light"
          />
          <Image
            src={astroLogoDark}
            width={astroLogoDark.width}
            height={astroLogoDark.height}
            loading={'eager'}
            alt="Astro dark logo"
            class="dark"
          />
        </a>
        <a href="/" title="Astro on Vercel">
          <Image
            src={vercelLogoLight}
            width={vercelLogoLight.width}
            height={vercelLogoLight.height}
            loading={'eager'}
            alt="Vercel light logo"
            class="light"
          />
          <Image
            src={vercelLogoDark}
            width={vercelLogoDark.width}
            height={vercelLogoDark.height}
            loading={'eager'}
            alt="Vercel dark logo"
            class="dark"
          />
        </a>
      </li>
    </ul>
  </nav>
  <hr />
</header>

<style>
  h2 {
    display: none;
  }

  img {
    width: 170px;
    max-height: 190px;
    margin: 5px 0;
  }
  @media (max-width: 768px) {
    img {
      width: 120px;
    }
  }

  @media (prefers-color-scheme: light) {
    img.light {
      display: none;
    }
  }
  @media (prefers-color-scheme: dark) {
    img.dark {
      display: none;
    }
  }
</style>
